/* font-family: 'Merriweather', serif;
font-family: 'Lora', serif; */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#contact-form-button{
  border-radius: 15px;
}

#contact-form{
  display: inline-flexbox;

}

#contact-form-area {
  width: 200px;
  position: relative;
  left: 35%;

}

/* body {
  background-image: url('https://i.imgur.com/Y52e66m.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}  */

nav.border-bottom.navbar.navbar-expand-lg.navbar-light.bg-black{
  background-color: black;
}

div.border-top.justify-content-between.p-3.row {
  background-color: black;
}