/* font-family: 'Merriweather', serif;
font-family: 'Lora', serif; */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#contact-form-button {
  border-radius: 15px;
}

#contact-form {
  display: inline-flexbox;
}

#contact-form-area {
  width: 200px;
  position: relative;
  left: 35%;
}

/* body {
  background-image: url('https://i.imgur.com/Y52e66m.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}  */

.github {
  text-decoration: none !important;
  color: white !important;
}

nav.border-bottom.navbar.navbar-expand-lg.navbar-light.bg-black {
  background-color: black;
}

div.border-top.justify-content-between.p-3.row {
  background-color: black;
}

div.p-0.col-md-40.col-sm-40 {
  font-size: 3em;
}

.bg-transparent.jumbotron-fluid.p-0 {
  background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size: 1600px 900px;
}

div.justify-content-around.row {
  background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size: 1600px 900px;
}

/* Media Query */

@media only screen and (max-width: 500px) {
  body {
    background-color: lightblue;
  }
  div.justify-content-around.row {
    display: flex;
  }

  span.navbar-toggler-icon {
    background-color: white;
  }

  button.border-0.navbar-toggle.collapsed {
    background-color: white;
  }
}
